.lockers-container{
    max-width: 320px;

}

.status{}

.locker{

    background-color:#ccc;
    margin:3px;
    width:30%;
    border:3px solid #ddd;
    height:100px;
    display:inline-block;
    vertical-align: top;
    text-align: center;
    font-size:10px;
}

.locker a{font-size:10px;}

.in-use{
    background-color:darkgray;
}
.available{
    background-color:grey;
}
.out-of-service{
    background-color:orangered;
}

#video-container{
    width: 40vw;
    text-align: center;

}
video{
    width: 25%;
    text-align: center;
}